<div class="main_display">

<%# 左側のメニュー %>
  <%= render partial: 'firstlists/left_menu' %>

<%# メインメニュー %>
<div class="main_menu">
  <div class="bg_image">

<%# 入力フォーム %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

<div class='new-form'>
<h2>アカウント情報</h2>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.label :nickname,"ニックネーム（8文字まで）",class:"device-label" %><br />
    <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"ニックネーム（8文字まで）", maxlength:"8" %>
  </div>

  <div class="field">
    <%= f.label :email,"メールアドレス", class:"device-label" %><br />
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"メールアドレス" %>
  </div>

  <div class="actions">
    <%= f.submit "変更する", class:"device-create-btn" %>
  </div>

</div>
<% end %>

<%# /入力フォーム %>
  </div>
</div>
<%# /メインメニュー %>

<%# 右側のメニュー %>
    <div class="right_menu">
      <%= link_to "戻る", :back, class: "right-list1" %>
      <%= button_to "退会する", registration_path(resource_name),data: { confirm: "本当に削除しますか？" }, method: :delete, class: "delete-user-btn" %>
    </div>






