<div class="main_display">

<%# 左側のメニュー %>
  <%= render partial: 'left_menu' %>

<%# メインメニュー %>
<div class="main_menu">
  <div class="bg_image">
  <h2 class="menu-title">my List-list</h2>

  <li class='list-table'> 
    <% list_count = 0 %> <%# ※1 %>
    <% @firstlists.each do |firstlist| %>
      <%= link_to "#{firstlist.title}", firstlist_path(firstlist), class: "main-list" %>
      <% list_count += 1 %>
    <% end %>
    <%# ※1 以下 listの合計が奇数の場合、最後の列が中央配置になってしまう。それを避けるため、見えないリストを挿入している %>
      <% if list_count % 2 == 1 %>
      <div class="main-list-hidden"></div>
      <% end %>
  </li>
  
  <%# リストがない場合のダミー %>
  <% if @firstlists.empty? %>
  <li class='list-table'>
    <%= link_to "普段の行動を", "#", class: "main-list" %>
    <%= link_to "リストで整理しよう！", "#", class: "main-list" %>
    <%= link_to "『新規リスト』から", "#", class: "main-list" %>
    <%= link_to "リストを作成してね！", "#", class: "main-list" %>
    <%= link_to "例：寝る前にすること", "#", class: "main-list" %>
    <%= link_to "例：休日の掃除", "#", class: "main-list" %>
  </li>
  <%end%>
  <%# リストがない場合のダミー %>

  </div>
</div>

<%# 右側のメニュー %>
<div class="right_menu">
  <%= link_to "新規リスト", new_firstlist_path, class: "right-list1" %>
  <%= link_to "並び替え（未実装）", "#", class: "right-list2" %>
</div>

</div>

