<div class="main_display">

<%# 左側のメニュー %>
<div class="left_menu">
  <%= link_to "my List-list", firstlists_path, class: "side-list1" %>
  <%= link_to "知ってほしいこと", "#", class: "side-list2" %>
  <%= link_to "みんなのList-list", "#", class: "side-list3" %>
  <%= link_to "アカウント情報", "#", class: "side-list4" %>
</div>

<%# メインメニュー %>
<div class="main_menu">
  <div class="bg_image">
  <h2 class="menu-title">my List-list</h2>

  <li class='list-table'> 
    <% list_count = 0 %> <%# ※1 %>
    <% @firstlists.each do |firstlist| %>
      <%= link_to "#{firstlist.title}", firstlist_path(firstlist), class: "main-list" %>
      <% list_count += 1 %>
    <% end %>
    <%# ※1.以下 listの合計が奇数の場合、最後の列が中央配置になってしまう。それを避けるため、見えないリストを挿入している %>
      <% if list_count % 2 == 1 %>
      <div class="main-list-hidden"></div>
      <% end %>
  </li>
  
  <%# リストがない場合のダミー %>
  <% if @firstlists.empty? %>
  <li class='list-table'>
    <%= link_to "休日のそうじ", "#", class: "main-list" %>
    <%= link_to "勉強前にすること", "#", class: "main-list" %>
    <%= link_to "休憩にすること", "#", class: "main-list" %>
    <%= link_to "外食", "#", class: "main-list" %>
    <%= link_to "校正確認", "#", class: "main-list" %>
    <%= link_to "寝る前にすること", "#", class: "main-list" %>
  </li>
  <%end%>
  <%# リストがない場合のダミー %>

  </div>
</div>

<%# 右側のメニュー %>
<div class="right_menu">
  <%= link_to "新規リスト", new_firstlist_path, class: "right-list1" %>
  <%= link_to "並び替え（未実装）", "#", class: "right-list2" %>
</div>

</div>

