<div class="main_display">

<%# 左側のメニュー %>
  <%= render partial: 'left_menu' %>

<%# メインメニュー %>
<div class="main_menu">
  <div class="bg_image">

<%# 入力フォーム %>
    <%= form_with(model: @firstlist, local: true) do |f| %>
    <%= render 'error_messages', model: @firstlist %>
    
     <div class='new-form'>
      <%= f.text_field :title, class:"firstlist-form-title", id:"firstlist-form", placeholder:"リストタイトル（20文字以内）※必須", maxlength:"20" %>
      <%= f.text_field :text1, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト１（20文字以内）※必須", maxlength:"20" %>
      <%= f.text_field :text2, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト２（20文字以内）", maxlength:"20" %>
      <%= f.text_field :text3, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト３（20文字以内）", maxlength:"20" %>
      <%= f.text_field :text4, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト４（20文字以内）", maxlength:"20" %>
      <%= f.text_field :text5, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト５（20文字以内）", maxlength:"20" %>
      <%= f.text_field :text6, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト６（20文字以内）", maxlength:"20" %>
      <%= f.submit "登録する", class: "submit-btn" %>
    </div>
    <% end %>
  </div>
</div>
<%# /メインメニュー %>


<%# 右側のメニュー %>
<div class="right_menu">
  <%= link_to "戻る", :back, class: "right-list1" %>
</div>

<%# /入力フォーム %>

</div>

