<div class="main_display">

<%# 左側のメニュー %>
<div class="left_menu">
  <%= link_to "my List-list", firstlists_path, class: "side-list1" %>
  <%= link_to "知ってほしいこと", "#", class: "side-list2" %>
  <%= link_to "みんなのList-list", "#", class: "side-list3" %>
  <%= link_to "アカウント情報", "#", class: "side-list4" %>
</div>

<%# メインメニュー %>
<div class="main_menu">
  <div class="bg_image">

<%# 入力フォーム %>
    <%= form_with(model: @firstlist, local: true) do |f| %>
    <%#= render 'shared/error_messages', model: @firstlist %>
    
     <li class='new-form'>
      <%= f.text_field :title, class:"firstlist-form", id:"firstlist-form", placeholder:"リストタイトル", maxlength:"20" %>
      <%= f.text_field :text1, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト１", maxlength:"20" %>
      <%= f.text_field :text2, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト２", maxlength:"20" %>
      <%= f.text_field :text3, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト３", maxlength:"20" %>
      <%= f.text_field :text4, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト４", maxlength:"20" %>
      <%= f.text_field :text5, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト５", maxlength:"20" %>
      <%= f.text_field :text6, class:"firstlist-form", id:"firstlist-form", placeholder:"リスト６", maxlength:"20" %>
      </li>

  </div>
</div>
<%# /メインメニュー %>


<%# 右側のメニュー %>
<div class="right_menu">
  <%= f.submit "登録する", class: "submit-btn" %>
</div>

<% end %>
<%# /入力フォーム %>

</div>

