<!DOCTYPE html>
<html>
  <head>
    <title>Listlist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header class="header">
  <div class="header-left">
    <%= link_to image_tag("header_logo.png", class:"header-logo"), firstlists_path %>
  </div>
  <div class="header-right">

  <% if user_signed_in? %>
    <ul class="login-lists">
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %> </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout_btn" %> </li>
    </ul>
    <% else %>
    <ul class="login-lists">
      <li><%= link_to "ログイン", new_user_session_path, class: "log-in-btn" %></li>
      <li><%= link_to "新規登録", new_user_registration_path, class: "sign-up-btn" %></li>
    </ul>
    <% end %>
  </div>
  </header>


  <%= yield %>

  <footer>
    <p>
      Copyright list-list 2020.
    </p>
  </footer>
  
</body>
</html>

